<div class="row">
    <div class="col s12 m8">
        <h3>{{activity.title}}</h3>
        <div class="card story">
            <div class="card-content">
                <span class="card-title">{{formatDate activity.date 'MMMM Do YYYY'}}</span>
                {{{activity.body}}}
            </div>
        </div>
    </div>
    <div class="col s12 m4">
        <div class="card center-align">
            <div class="card-content">
                <span class="card-title">{{activity.user.firstName}} {{activity.user.lastName}}</span>
                <img src="{{activity.user.image}}" class="circle responsive-img">
            </div>
            <div class="card-action">
                <a href="/activities/user/{{activity.user.id}}" class="purple-text">More From {{activity.user.firstName}}</a>
            </div>
        </div>
    </div>
</div>